.InstructionsModal {
    position: fixed;
    box-sizing: border-box;
    width: 80vw;
    left: 10vw;
    top: 5%;

    padding: 2rem;
    
    background-color: white;
    margin: auto;

    text-align: center;
}

.InstructionsModal p {
    text-align: justify;
}

.InstructionsModal .BtnCloseInstructions {
    margin-top: 2rem;
}