.InstructionsOpenerButton {
    width: 3rem;
    height: 3rem;
    font-size: 2rem;

    /* background-color: blue; */
    background-color: rgb(2, 90, 2);
    color: white;

    border: none;
    border-radius: 100%;
    box-shadow: 2px 2px 4px black;

    cursor: pointer;
}

.InstructionsOpenerButton:focus {
    outline: none;
}
