body {
  background-color: #8B9;
  /* background-color: #ecf4fc; */
}

.NewGameButtonWrapper {
  margin-top: 2.5rem;
}

.SelectedCardWrapper {
  margin-top: 1.5rem;
}

.NextActionHint {
  position: fixed;
  bottom: 3%;
  left: 3%;

  cursor: default;

  font-size: 0.8rem;
  /* color: #567; */
  color: rgb(2, 90, 2);
}

.InstructionsOpenerWrapper {
  position: fixed;
  bottom: 3%;
  right: 3%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
